html, body {
  margin: 0;
  padding: 0;
}

.termpage-window {
  overflow-y: auto;
}

.termpage-block {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  word-break: keep-all;
}

.termpage-input-block {
  display: flex;
}

.termpage-input {
  border-width: 0;
  outline: 0;
  flex: 1;
  padding: 0;
}

.termpage-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.termpage-loader::before {
  content: '';
  animation: termpage-loader 0.5s infinite;
}

@keyframes termpage-loader {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}

