/* THEME */

.window {
  background-color: black;
  border: 2px solid #888;
  width: 50%;
}

* {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #ddd;
}

input[type=text] {
  background-color: black;
  color: #ddd;
}

p, input, pre {
  line-height: 20px;
}

p, ul.menu, pre {
  padding-left: 5px;
  padding-right: 5px;
}

a {
  background-color: #888;
}

ul.menu {
  background-color: #888;
}

a:hover {
  background-color: #333;
}

/* END OF THEME */

